<!DOCTYPE html>
<html>

<body>
<div class="container pt-3">
  <h3>Información por capítulo</h3>
  <div class="container p-3 mb-2 bg-light text-dark">
    <h1 class="display-6" ><%=@chapter_result["name"]%></h1>


    <div class="container">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>Fecha de estreno: </td>
            <td><%=@chapter_result["air_date"]%></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Código</td>
            <td><%=@chapter_result["episode"]%></td>
          </tr>
            <tr>
            <th scope="row"></th>
            <td colspan="2">Personajes</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <table class="table">
          <tbody>
          <%i=1%>
          <%@episode_characters.each do |c|%>
            <tr>
              <th scope="row"></th>
              <td><%=i%></td>
              <%nombre = c[1]%>
              <td><%= link_to nombre, character_path(c[0])%></td>
            </tr>
            <%i+=1%>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>
</body>
