<!DOCTYPE html>
<html>
  <head>
    <title>Rickandmorty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark text-white">
      <a class="navbar-brand">WLDD</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light text-white my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </nav>
    <%= yield %>

  </body>
</html>
